<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Force SSL
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  # Remove public folder form URL
  RewriteRule ^(.*)$ public/$1 [L]
  
  SetEnvIf Origin "http(s)?://(www\.)?(startercms.ibrahimahmad.my.id)$" AccessControlAllowOrigin=$0
Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
Header merge  Vary "Origin"
</IfModule>